php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: REPLACE_namespace\Modules\*Module\*Presenter

doctrine:
    user: root
    password:
    dbname: REPLACE_dbname
    metadata:
        REPLACE_namespace: %appDir%/Model/Entities

extensions:
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	console: Kdyby\Console\DI\ConsoleExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	events: Kdyby\Events\DI\EventsExtension

session:
	expiration: 30 days

services:
	router: REPLACE_namespace\Router\RouterFactory::createRouter
